# Librairies essentielles pour l'application Streamlit et le modèle LightGBM
pandas
numpy
scikit-learn
lightgbm==4.6.0 # Laisser la version spécifique de LightGBM pour s'assurer de la compatibilité avec le modèle entraîné
streamlit
joblib
matplotlib
seaborn

# Tu peux ajouter d'autres librairies STRICTEMENT nécessaires si tu en as utilisées
# et que ton app.py ou le modèle en dépend (par exemple pour des fonctions de date spécifiques)
# python-dateutil # Si ta logique de date dans app.py l'utilisait spécifiquement
# pytz            # Souvent une dépendance de pandas pour les fuseaux horaires
# tzdata          # Aussi une dépendance de pandas
